<build>
    <plugins>
        <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-war-plugin</artifactId>
            <version>3.4.0</version>
            <configuration>
                <!-- Укажите путь к вашему web.xml, если он отличается -->
                <webXml>src/main/WEB-INF/web.xml</webXml>
            </configuration>
        </plugin>
    </plugins>
</build>